.block-line-wrapper {
    overflow: hidden;
    position: relative;
    display: block;
}

.block-revealer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.block-line {
    opacity: 0;
}