@import "tailwindcss";

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}


:root {
  --background: #171819;
  /* --background: #e4e7df; */
  --background-200: #141414;
  /* --background-200: #666666; */
  --foreground: #e4e7df;
  --foreground-200: #666666;
  --secondary: #0F1011;

  --btn-icon: #ffc22a;

  /* Course Hero Variables */
  --bg-dark: #15161b;
  /* Matches Preloader hero bg */
  --text-primary: #ffffff;
  --text-secondary: #9ca3af;
  --text-muted: #6b7280;
  --accent-primary: #ffbb00;
  /* Yellow accent */
  --border-light: #2a2a2a;
  --border-color: #2a2a2a;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "nm";
  cursor: url("/cursor.png"), auto;
}

@font-face {
  font-family: "nm";
  src: url("/fonts/nm/nm-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "humane";
  src: url("/fonts/Variable-TT/Humane-VF.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}


.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.char {
  transition: color 150ms ease-out;
}