@import "tailwindcss";

:root {
  --background: #1a1a1a;
  --background-200: #141414;
  --foreground: #e4e7df;
  --foreground-200: #666666;
  --btn-icon: #ffc22a;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "nm";
}

@font-face {
  font-family: "nm";
  src: url("/fonts/nm/nm-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}


.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.char {
  transition: color 150ms ease-out;
}