@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.preloader-root {
    --light: var(--foreground);
    --dark: var(--background);
    font-family: "Nunito", sans-serif;
    width: 100%;
    height: 100vh;
    /* changed from 100svh for compatibility */
    position: relative;
    overflow: hidden;
    background-color: var(--background);
    /* Updated to match dark theme */
}

.preloader-root img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preloader-root a,
.preloader-root p {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "DM Mono", mono;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.25;
    color: var(--foreground);
}

.preloader-nav {
    position: fixed;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 10;
    top: 0;
    left: 0;
    pointer-events: none;
    /* Let clicks pass initially ?? */
}

.preloader-nav-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.preloader-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.preloader-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--dark);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    will-change: clip-path;
    z-index: 5;
    /* Changed to be above other content */
}

.preloader-hero-overlay .counter {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    color: var(--light);
}

.preloader-hero-overlay .counter h1 {
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
    /* reset */
}

.preloader-overlay-text-container {
    position: absolute;
    top: 2rem;
    left: 2rem;
    height: 2rem;
    overflow: hidden;
}

.preloader-overlay-text-container .overlay-text {
    display: flex;
    flex-direction: column;
    transform: translateY(2rem);
    will-change: transform;
}

.preloader-overlay-text-container .overlay-text p {
    color: var(--light);
    height: 2rem;
    display: flex;
    align-items: center;
    margin: 0;
}

.preloader-hero-images {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    gap: 10vw;
    will-change: gap;
    z-index: 6;
    /* On top of overlay (5) */
    pointer-events: none;
}

.preloader-hero-images .img {
    width: 10vw;
    aspect-ratio: 5/7;
    transform: translateY(50%) scale(0.5);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    opacity: 0;
    will-change: opacity, transform, clip-path;
    overflow: hidden;
}

.preloader-hero-header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
    /* Below overlay (5) */
    left: 0;
}

.preloader-hero-header h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 15vw;
    font-weight: 600;
    line-height: 0.85;
    margin: 0;
    color: var(--foreground);
}

.preloader-hero-header [data-copy-wrapper] {
    display: flex;
    justify-content: center;
    width: 100%;
}

.preloader-hero-header h1 .word {
    display: inline-block;
    transform: translateY(100%);
    will-change: transform;
}

.preloader-scroll-down {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.preloader-scroll-down h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    color: var(--foreground);
}

.preloader-scroll-down img {
    display: inline-block;
    transform: translateY(100%);
    height: 50px;
    width: 50px;
    will-change: transform;
    opacity: 0;
}

@media (max-width: 1000px) {
    .preloader-hero-overlay .counter {
        right: 1rem;
        bottom: 1rem;
    }

    .preloader-hero-images {
        padding: 0 0.5rem;
        gap: 2.5vw;
    }

    .preloader-hero-images .img {
        width: 20vw;
    }
}