.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    pointer-events: none;
    z-index: 10000;
}

.menu a,
.menu p {
    position: relative;
    color: var(--foreground);
    display: block;
    text-decoration: none;
    line-height: 1;
    will-change: transform;
    -webkit-font-smoothing: antialiased;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 1000;
    mix-blend-mode: difference;
    pointer-events: none;

}

.nav {
    pointer-events: all;
    position: relative;
    width: 100vw;
    padding: 1.5rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

.nav a,
.nav p {
    position: relative;
    color: var(--foreground);
    display: block;
    text-decoration: none;
    line-height: 1;
    will-change: transform;
    -webkit-font-smoothing: antialiased;
}

.nav-logo {
    flex: 2;
    position: fixed;

    top: 7;
    left: 10;
    z-index: 1000;
}

.dummy {
    width: 10rem;
}

.nav-items {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    /* mix-blend-mode: difference; */
}

.nav-menu-toggle-open,
.nav-menu-time {
    flex: 1;
}

.nav-menu-toggle-open {
    display: flex;
    justify-content: flex-end;
    height: max-content;
}

.nav-menu-toggle-open .revealer {
    cursor: pointer;
}

img.logo-img {
    width: 2rem;
    /* mix-blend-mode: normal; */
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    background-color: var(--background-200);
    will-change: opacity;
    pointer-events: none;
    z-index: 2;
    opacity: 0;
}

.menu-overlay-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1.5rem;
    display: flex;
    gap: 1.5rem;
}

.menu-overlay-nav-toggle-close {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    height: max-content;
}

.menu-overlay-nav-toggle-close .revealer {
    cursor: pointer;
}

.menu-overlay a,
.menu-overlay p {
    color: var(--foreground);
}

.menu-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
}

.menu-footer-col:nth-child(1) {
    flex: 2;
}

.menu-footer-col:nth-child(2) {
    flex: 1;
}

.socials {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.menu-overlay-items {
    width: 75%;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0rem 1rem;
    align-items: flex-start;
}

.menu-overlay-items .revealer {
    flex: 0 0 auto;
    min-width: max-content;
}

.revealer {
    position: relative;
    width: max-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-overlay-items h1 {
    font-size: 7vw;
    font-weight: 400;
    margin: 0;
    line-height: 1.1;
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    .nav-menu-time {
        display: none;
    }

    .menu-overlay-items {
        flex-direction: column;
        padding: 1rem 1.5rem 1.5rem 1.5rem;
    }

    .menu-overlay-items h1 {
        font-size: 3rem;
    }

    .socials {
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5rem;
    }
}